
.container {
    display: flex;
    flex-wrap: wrap;
    width: 672px;
    margin: 25px 19%;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 317px);
    margin: auto;
    gap: 4px;
}

.box {
    width: 317px;
    height: 315px;
    background-color: red;
    object-fit: cover;
}

#top-right {
    width: 317px;
    height: 634px;
    display: grid;
    grid-column: 3;
    grid-row: 1/3;
    object-fit: cover;
}

#bottom-left {
    width: 317px;
    height: 634px;
    display: grid;
    grid-column: 1;
    grid-row: 3/5;
    object-fit: cover;
}
