@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75..100,300..800&display=swap");
html {
  font-family: "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.container {
  width: 75%;
  display: flex !important;
  flex-direction: row !important;
  margin-left: 24%;
  right: 0;
}
hr {
  margin: 20px 0;
  font-weight: lighter;
}
a {
  color: #fff;
  text-decoration: none;
}
.left-side-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  left: 0;
  border-right: 1px solid gray;
  padding: 0 12px;
  position: fixed;
}
.left-side-menu .logo {
  width: 188px !important;
  height: 70px;
  background-color: #fff;
  scale: 0.6;
  margin-left: -33px !important;
  margin-top: 20px;
}
.left-side-menu .logo .resp-logo {
  display: none !important;
}
.left-side-menu .logo img {
  scale: 1.1;
  padding: 0 12px;
}
.left-side-menu .row {
  width: 220px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 20px;
  padding: 0 12px;
}
.left-side-menu .more {
  padding-left: 24px;
}
.left-side-menu .row i {
  font-size: 20px;
}
.left-side-menu .row p {
  font-size: 17px;
  margin-left: 13px;
  margin-bottom: 8px;
}
.left-side-menu .row img {
  width: 25px;
  height: 25px;
}
.left-side-menu .home img {
  background-color: #fff;
  width: 20px;
  scale: 2.6;
  border: 3px solid #fff;
  clip-path: polygon(50% 31%, 66% 47%, 66% 65%, 34% 65%, 34% 47%);
}
.left-side-menu .explore img {
  width: 20px;
}
.left-side-menu .reels img {
  background: #fff;
  width: 20px;
  border-radius: 32%;
  clip-path: polygon(14% 19%, 88% 19%, 88% 77%, 15% 78%);
  scale: 1.5;
}
.left-side-menu .profile img {
  border-radius: 50px;
  scale: 1.2;
}
.left-side-menu .messages img {
  background: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  position: relative;
}
.left-side-menu .messages p {
  margin-left: 8px;
}
.left-side-menu .create p {
  margin-left: 14px;
}
.left-side-menu .profile p {
  margin-left: 7px;
}
.left-side-menu .more p {
  margin-left: 11px;
}
.left-side-menu .threads {
  margin-top: 35px;
}
.left-side-menu .threads p {
  margin-left: 11px;
}
.left-side-menu .more,
.threads i {
  scale: 1.1;
}
.left-side-menu .messages .notfication {
  color: #ffffff;
  background-color: red;
  border: 1px solid #000;
  width: 19px;
  height: 18px;
  line-height: 17px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  margin-top: -4px;
  margin-left: -12px;
  padding-left: 1px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 672px;
  margin: 25px auto;
}
.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 317px);
  margin: auto;
  gap: 4px;
}
.box {
  width: 317px;
  height: 315px;
  background-color: red;
  object-fit: cover;
}
#top-right {
  width: 317px;
  height: 634px;
  display: grid;
  grid-column: 3;
  grid-row: 1/3;
  object-fit: cover;
}
#bottom-left {
  width: 317px;
  height: 634px;
  display: grid;
  grid-column: 1;
  grid-row: 3/5;
  object-fit: cover;
}
