@using Instagram.ViewModels.HomeViewModel
@model SearchUserVm
@foreach (AppUser user in Model.Users)
{
    <div class="searched-account">
        <a asp-controller="profile" asp-action="userprofile" asp-route-id="@user.Id" class="left-side">
                <img src="~/client/assets/images/profile-photos/@user.ProfilePic" alt="" />
            <div class="info">
                <p id="userName">@user.UserName</p>
                <p id="name">@user.Fullname</p>
            </div>
        </a>
        <i class="fa-solid fa-x info-x"></i>
    </div>
}


