<link rel="stylesheet" href="~/client/assets/css/style.css" />
@using Instagram.ViewModels.HomeViewModel
@model List<AppUser>
<div class="searchModal">
    <div class="top-side">
        <h2>Search</h2>
        <div class="searchBar" id="searchUserInput">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search"
                   placeholder="Search"
                   name=""
                   id="input-searchbar" />
        </div>
    </div>
    <div class="status-bar">
        <span id="recent">Recent</span>
        <span id="clear_all" style="cursor: pointer">Clear All</span>
    </div>
@foreach (var user in Model)
{
    <div class="searched-account">
        <a asp-controller="profile" asp-action="userprofile" asp-route-id="@user.Id" class="left-side">
            <img src="~/client/assets/images/profile-photos/@user.ProfilePic" alt="" />
            <div class="info">
                <p id="userName">@user.UserName</p>
                <p id="name">@user.Fullname</p>
            </div>
        </a>
        <i class="fa-solid fa-x info-x"></i>
    </div>
}
</div>


